.cover__link {
  display: block;
  text-decoration: none;
  min-height: 740px;
}

@media (max-width: 1100px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 800px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 650px) {
  .cover__link {
    min-height: 400px;
  }
}

@media (max-width: 500px) {
  .cover__link {
    min-height: 300px;
  }
}

@media (max-width: 350px) {
  .cover__link {
    min-height: 200px;
  }
}
