.places__place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  min-content minmax(min-content, max-content);
  grid-gap: 40px;
  grid-template-areas:
      "title website"
      "image paragraphs";
  align-items: start;
  margin-top: 80px;
}

.places__place:first-child {
  margin-top: 0px;
}

@media (max-width: 700px) {
  .places__place {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraphs";
  }
}
